extends /pages/profile.pug

block followings
    div
        if user.following.length == 0
            p Not following anyone.
        else
            p Following:
                each following in artists
                    h3 
                        a(href="/users/" + following._id) #{following.username}