extends /pages/profile.pug

block followers
    div
        if user.followers.length == 0
            p No followers.
        else
            p Followers:
                each followers in artists
                    h3 
                        a(href="/users/" + followers._id) #{followers.username}