body {
    background-color: black;
    color: white;
}

a {
    color: white;
}

header {
    background-color: darkgrey;
    padding: 25px;
    text-align: center;
    font-size: 20px;
    color: white;
}