html(lang="en")
    head
        meta(name='viewport' content='width=device-width, initial-scale=1')
        title Open Gallery
        link(rel='stylesheet' href='http://localhost:3000/css/home.css')
    body  
        include ../partials/headers
        header
            h1 Open Gallery
            h2 A place to share your art
        .gallery
            each artwork in artworks
                .gallery-item
                    a(href="/artworks/" + artwork._id)
                        img.image(src=artwork.image alt=artwork.name style='width:100%')
                        .middle
                            .text #{artwork.name}


            
